
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.splash {
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    pointer-events: none;
}

.splash_title {
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
    text-align: center;
    margin: 1em;
}

.splash_subtitle {
    font-family:'Courier New', Courier, monospace;
    font-size: 2rem;
}